{{define "title"}}Profile{{end}}
{{define "scripts"}}
    <script>
        let url = "/api/v1/user/";
        let elementIDs = ['email', 'name', 'address', 'telephone'];

        function mountJSON() {
            let obj = {};
            elementIDs.forEach(elementID => {
                let element = document.getElementById(elementID);
                obj[element.name] = element.value;
            });
            return obj;
        }

        function postJSON(obj) {
            let data = JSON.stringify(obj);

            let xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
                if (this.readyState === this.DONE) {
                    let resp = JSON.parse(this.responseText);
                    if (resp['error'] != "") {
                        document.getElementById("error").classList.remove('is-invisible');
                        document.getElementById("error").textContent = 'Error: ' + resp['error'];
                    } else {
                        window.location.replace("/profile");
                    }
                }
            });

            xhr.open("POST", url + obj['email'] + "/profile");
            xhr.setRequestHeader("content-type", "application/json");

            xhr.send(data);
        }

        function process() {
            let obj = mountJSON();
            postJSON(obj);
        }
    </script>
    <script>
        var placeSearch, autocomplete;

        function initAutocomplete() {
            autocomplete = new google.maps.places.Autocomplete(
                /** @type {!HTMLInputElement} */(document.getElementById('address')),
                { types: ['geocode'] });

            autocomplete.addListener('place_changed', fillInAddress);
        }

        function fillInAddress() {
            var place = autocomplete.getPlace();
        }

        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{.Google.Map}}&libraries=places&callback=initAutocomplete" async
        defer></script>

{{end}}
{{define "content"}}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="column is-4 is-offset-4">
                    <div class="box">
                        <p class="title">Profile</p>
                        <form id="loginForm" action="#" method="post" onsubmit="event.preventDefault(); process();">
                            <div class="field">
                                <label class="label">E-mail</label>
                                <div class="control">
                                    <input class="input" type="email" name="email" id="email" required value="{{.Email}}">
                                </div>
                            </div>
    
                            <div class="field">
                                <label class="label">Full Name</label>
                                <div class="control">
                                    <input class="input" type="text" name="name" id="name" value="{{.Profile.Name}}">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Address</label>
                                <div class="control">
                                    <input class="input" type="text" name="address" id="address" 
                                    onfocus="geolocate()"
                                    value="{{.Profile.Address}}">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Telephone</label>
                                <div class="control">
                                    <input class="input" type="text" name="telephone" id="telephone" value="{{.Profile.Telephone}}">
                                </div>
                            </div>
    
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-primary">
                                        Save
                                    </button>
                                </div>
                                
                            </div>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
    
    </section>
{{end}}