{{define "title"}}Error{{end}}
{{define "content"}}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <h1 class="title is-danger">
                        {{.Error}}
                    </h1>
                </div>
            </div>
        </div>
    </div>

</section>
{{end}}