{{define "title"}}Forgot Password{{end}}
{{define "scripts"}}
<script>
    let url = "/api/v1/user/forgot/create";
    let elementIDs = ['email'];

    function mountJSON() {
        let obj = {};
        elementIDs.forEach(elementID => {
            let element = document.getElementById(elementID);
            obj[element.name] = element.value;
        });
        return obj;
    }

    function postJSON(obj) {
        let data = JSON.stringify(obj);

        let xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function () {
            if (this.readyState === this.DONE) {
                let resp = JSON.parse(this.responseText);
                if (resp['error'] != "") {
                    document.getElementById("error").classList.remove('is-invisible');
                    document.getElementById("error").textContent = 'Error: ' + resp['error'];
                } else {
                    window.location.replace("/signin");
                }
            }
        });

        xhr.open("POST", url);
        xhr.setRequestHeader("content-type", "application/json");

        xhr.send(data);
    }

    function process() {
        let obj = mountJSON();
        postJSON(obj);
    }
</script>
{{end}}
{{define "content"}}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <p class="title">Forgot password</p>
                    <p id="error" class="help is-danger is-invisible">Email does not exist!</p>
                    <form id="loginForm" action="#" method="post" onsubmit="event.preventDefault(); process();">
                        <div class="field">
                            <label class="label">E-mail</label>
                            <div class="control">
                                <input class="input" type="email" name="email" id="email" required placeholder="guest@guest.com"
                                    autofocus>
                            </div>
                        </div>
                        
                        <div class="control">
                            <button type="submit" class="button is-primary">
                                Submit
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
{{end}}