{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <meta name="google-signin-client_id" content="{{.Google.ClientID}}">
    <title>{{template "title"}}</title>
</head>
<body>
    {{template "content" .}}
    {{block "scripts" .}} {{end}}
</body>
</html>
{{end}}