{{define "title"}}Reset password{{end}}
{{define "scripts"}}
<script>
    let url = "/api/v1/user/forgot";
    let elementIDs = ['email', 'password', 'forgot'];
    let validateIDs = ['passwordRep', 'password'];

    function validate() {
        let passwords = [];
        validateIDs.forEach(elementID => {
            let element = document.getElementById(elementID);
            passwords.push(element.value);
        });
        if (passwords.every((val, i, arr) => val === arr[0])) {
            document.getElementById("error").classList.add('is-invisible');
            document.getElementById("error").textContent = "Passwords aren't the same";
            return true;
        }
        document.getElementById("error").classList.remove('is-invisible');
        return false;
    }

    function mountJSON() {
        let obj = {};
        elementIDs.forEach(elementID => {
            let element = document.getElementById(elementID);
            obj[element.name] = element.value;
        });
        return obj;
    }

    function postJSON(obj) {
        let data = JSON.stringify(obj);

        let xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function () {
            if (this.readyState === this.DONE) {
                let resp = JSON.parse(this.responseText);
                if (resp['error'] != "") {
                    document.getElementById("error").classList.remove('is-invisible');
                    document.getElementById("error").textContent = 'Error: ' + resp['error'];
                } else {
                    window.location.replace("/signin");
                }
            }
        });

        xhr.open("POST", url);
        xhr.setRequestHeader("content-type", "application/json");

        xhr.send(data);
    }

    function process() {
        if (!validate()) return false;
        let obj = mountJSON();
        postJSON(obj);
    }
</script>
{{end}}
{{define "content"}}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <p class="title">Reset password</p>
                    <p id="error" class="help is-danger is-invisible">Passwords aren't the same!</p>
                    <form id="loginForm" action="#" method="post" onsubmit="event.preventDefault(); process();">
                        <div class="field">
                            <label class="label">E-mail</label>
                            <div class="control">
                                <input class="input is-static" type="email" name="email" id="email" value="{{.Email}}"
                                    readonly>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Token</label>
                            <div class="control">
                                <input class="input is-static" type="text" name="forgot" id="forgot" value="{{.Forgot}}" readonly>
                            </div>
                        </div>

                        <div class="field" is-grouped>
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" type="password" name="password" id="password" placeholder="*********"
                                    required>
                            </div>
                            <label class="label">Repeat Password</label>
                            <div class="control">
                                <input class="input" type="password" name="password" id="passwordRep" placeholder="*********"
                                    required>
                            </div>
                        </div>

                        <div class="control">
                            <button type="submit" class="button is-link" >
                                Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
{{end}}