{{define "title"}}Sign up{{end}}
{{define "scripts"}}
<script>
    let url = "/api/v1/user";
    let callback = '/api/v1/user/login/callback';
    let elementIDs = ['email', 'password'];
    let validateIDs = ['passwordRep', 'password'];

    function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            var id_token = googleUser.getAuthResponse().id_token;

            var xhr = new XMLHttpRequest();
            xhr.open('POST', callback);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');


            xhr.onload = function () {
                let resp = JSON.parse(xhr.responseText);
                if (resp['error'] != "" && resp['error'] != "only unauthenticated access") {
                    document.getElementById("error").classList.remove('is-invisible');
                    document.getElementById("error").textContent = 'Error: ' + resp['error'];
                } else {
                    window.location.replace("/profile");
                }
            };
            xhr.send('idtoken=' + id_token);

        }

    function validate() {
        let passwords = [];
        validateIDs.forEach(elementID => {
            let element = document.getElementById(elementID);
            passwords.push(element.value);
        });
        if (passwords.every((val, i, arr) => val === arr[0])) {
            document.getElementById("error").classList.add('is-invisible');
            document.getElementById("error").textContent = "Passwords aren't the same";
            return true;
        }
        document.getElementById("error").classList.remove('is-invisible');
        return false;
    }

    function mountJSON() {
        let obj = {};
        elementIDs.forEach(elementID => {
            let element = document.getElementById(elementID);
            obj[element.name] = element.value;
        });
        return obj;
    }

    function postJSON(obj) {
        let data = JSON.stringify(obj);

        let xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function () {
            if (this.readyState === this.DONE) {
                let resp = JSON.parse(this.responseText);
                if (resp['error'] != "") {
                    document.getElementById("error").classList.remove('is-invisible');
                    document.getElementById("error").textContent = 'Error: ' + resp['error'];
                } else {
                    window.location.replace("/profile/edit");
                }
            }
        });

        xhr.open("POST", url);
        xhr.setRequestHeader("content-type", "application/json");

        xhr.send(data);
    }

    function process() {
        if (!validate()) return false;
        let obj = mountJSON();
        postJSON(obj);
    }
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
{{end}}
{{define "content"}}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <p class="title">Sign up</p>
                    <p id="error" class="help is-danger is-invisible">Passwords aren't the same!</p>
                    <form id="loginForm" action="#" method="post" onsubmit="event.preventDefault(); process();">
                        <div class="field">
                            <label class="label">E-mail</label>
                            <div class="control">
                                <input class="input" type="email" name="email" id="email" required placeholder="guest@guest.com"
                                    autofocus>
                            </div>
                        </div>

                        <div class="field" is-grouped>
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" type="password" name="password" id="password" placeholder="*********"
                                    required>
                            </div>
                            <label class="label">Repeat Password</label>
                            <div class="control">
                                <input class="input" type="password" name="password" id="passwordRep" placeholder="*********"
                                    required>
                            </div>
                        </div>

                        <div class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    <div class="control">
                                        <a class="button is-link" href="/signin">
                                            Sign in
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <div class="control">
                                        <a class="button is-info" href="/forgot">
                                            Forgot Password
                                        </a>
                                    </div>
                                </div>
                                <div class="level-item">
                                    <div class="control">
                                        <button class="button is-primary" type="submit">
                                            Sign up
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="g-signin2" data-onsuccess="onSignIn"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
{{end}}