{{define "title"}}Profile{{end}}
{{define "content"}}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="column is-4 is-offset-4">
                    <div class="box">
                        <p class="title">Profile</p>
                        <form id="loginForm" action="#" method="post" onsubmit="event.preventDefault(); process();">
                            <div class="field">
                                <label class="label">E-mail</label>
                                <div class="control">
                                    <input class="input " readonly type="email" name="email" id="email" required value="{{.Email}}">
                                </div>
                            </div>
    
                            <div class="field">
                                <label class="label">Full Name</label>
                                <div class="control">
                                    <input class="input " readonly type="text" name="profile.name" id="profile.name" value="{{.Profile.Name}}">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Address</label>
                                <div class="control">
                                    <input class="input " readonly type="text" name="profile.address" id="profile.address" value="{{.Profile.Address}}">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Telephone</label>
                                <div class="control">
                                    <input class="input " readonly type="text" name="profile.telephone" id="profile.telephone" value="{{.Profile.Telephone}}">
                                </div>
                            </div>
    
                            <div class="field">
                                <div class="control">
                                    <a class="button is-primary" href="/profile/edit">
                                        Edit Profile
    
                                    </a>
                                </div>
                                
                            </div>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
    
    </section>
{{end}}